<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>

    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-500 text-sm"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>

    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="text-red-500 text-sm"><%= message %></div>
    <% end %>
  </div>

  <div class="">
    <%= form.submit :class =>"border bg-blue-500 text-white-100 cursor-pointer w-fit p-4 rounded" %>
  </div>
<% end %>